Microsoft.Flow/flows/c91570ee-ad49-4905-bace-cb7dfe90c12c/definition.json
{"name":"e45c3d46-0d7b-429f-a2fa-cab6f6591897","id":"/providers/Microsoft.Flow/flows/e45c3d46-0d7b-429f-a2fa-cab6f6591897","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Pembelian_powerApp_Untuk_Manager_HR","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3fd15bb2-9b4e-4696-bc2b-cc54f0b4e2a5","type":"User","tenantId":"d7b95ec4-9a7f-4260-b2e3-eb53f0ac8401"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-07T11:53:12.9214298Z","connectionKeySavedTimeKey":"2024-06-07T11:53:12.9214298Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"546287d3-d353-4f75-91a0-9f5c3cbd5f9f"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"number":{"title":"ID","type":"number","x-ms-dynamically-added":true,"description":"1","x-ms-content-hint":"NUMBER"},"text":{"title":"Manager Divisi","type":"string","x-ms-dynamically-added":true,"description":"2","x-ms-content-hint":"TEXT"}},"required":["number","text"]}}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"fea78e66-c7e5-496e-8ecb-cdee52d9986a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://acmindonesia.sharepoint.com/sites/ABC599","table":"95ce79c0-bae1-4524-8251-085a8aa6324e","id":"@triggerBody()['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Get_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://acmindonesia.sharepoint.com/sites/ABC599","table":"95ce79c0-bae1-4524-8251-085a8aa6324e","id":"@body('Get_item')?['ID']","item/Title":"@body('Get_item')?['Title']","item/field_1":"@body('Get_item')?['field_1']","item/field_2":"@body('Get_item')?['field_2']","item/field_3":"@body('Get_item')?['field_3']","item/field_4":"@body('Get_item')?['field_4']","item/field_5":"@body('Get_item')?['field_5']","item/field_6/Value":"Pending Di Manager HR","item/field_7":"@triggerBody()?['text']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_an_approval":{"runAfter":{"Update_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Manager HR | Persetujuan Pengajuan Cuti","ApprovalCreationInput/assignedTo":"muhammad.121140024@member.maribelajar.org;","ApprovalCreationInput/details":"I hope this message finds you well. I am writing to submit a purchase request as detailed below. I would appreciate your review and approval at your earliest convenience.\n\nEmployee Details:\n- Name: @{body('Update_item')?['Title']}\n- Employee Number (NRK): @{body('Update_item')?['field_1']}\n- Position: @{body('Update_item')?['field_2']}\n\nPurchase Details:\n- Title of Purchase:  @{body('Update_item')?['field_3']}\n- Details of Purchase: @{body('Update_item')?['field_5']}\n- Date Of Purchase: @{body('Update_item')?['field_4']}\n\n\nYour attention to this request is highly appreciated, and I am happy to provide any further information needed or discuss this matter at a time that suits you best.\n\nThank you very much for your consideration.\n\nBest regards,\n\n@{triggerBody()?['text']}\nManager Divisi\n","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"For_each":{"foreach":"@outputs('Create_an_approval')?['body']?['approvers']","actions":{"Send_an_email_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@items('For_each')?['email']","emailMessage/Subject":"Purchase Request from @{body('Update_item')?['Title']} - @{body('Update_item')?['field_3']}\n","emailMessage/Body":"<p>Dear @{items('For_each')?['email']},</p><br><p>I hope this message finds you well. I am writing to submit a purchase request as detailed below. I would appreciate your review and approval at your earliest convenience.<br><br>Employee Details:<br>- Name: @{body('Update_item')?['Title']}<br>- Employee Number (NRK): @{body('Update_item')?['field_1']}<br>- Position: @{body('Update_item')?['field_2']}<br><br>Purchase Details:<br>- Title of Purchase:  @{body('Update_item')?['field_3']}<br>- Details of Purchase: @{body('Update_item')?['field_5']}<br>- Date Of Purchase: @{body('Update_item')?['field_4']}<br><br><br>Your attention to this request is highly appreciated, and I am happy to provide any further information needed or discuss this matter at a time that suits you best.<br><br>Thank you very much for your consideration.<br><br>Best regards,<br><br>@{triggerBody()?['text']}<br>Manager Divisi</p><br>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Create_an_approval":["Succeeded"]},"type":"Foreach"},"Wait_for_an_approval":{"runAfter":{"For_each":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@body('Create_an_approval')?['name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition":{"actions":{"For_each_1":{"foreach":"@outputs('Wait_for_an_approval')?['body']?['responses']","actions":{"Update_item_1":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://acmindonesia.sharepoint.com/sites/ABC599","table":"95ce79c0-bae1-4524-8251-085a8aa6324e","id":"@body('Update_item')?['ID']","item/Title":"@body('Update_item')?['{Name}']","item/field_1":"@body('Update_item')?['field_1']","item/field_2":"@body('Update_item')?['field_2']","item/field_3":"@body('Update_item')?['field_3']","item/field_4":"@body('Update_item')?['field_4']","item/field_5":"@body('Update_item')?['field_5']","item/field_6/Value":"Diterima","item/field_8":"@items('For_each_1')?['responder']?['displayName']","item/field_9":"Note : @{items('For_each_1')?['comments']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"type":"Foreach"}},"runAfter":{"Wait_for_an_approval":["Succeeded"]},"else":{"actions":{"For_each_2":{"foreach":"@outputs('Wait_for_an_approval')?['body']?['responses']","actions":{"Update_item_2_":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://acmindonesia.sharepoint.com/sites/ABC599","table":"95ce79c0-bae1-4524-8251-085a8aa6324e","id":"@body('Update_item')?['ID']","item/Title":"@body('Update_item')?['{Name}']","item/field_1":"@body('Update_item')?['field_1']","item/field_2":"@body('Update_item')?['field_2']","item/field_3":"@body('Update_item')?['field_3']","item/field_4":"@body('Update_item')?['field_4']","item/field_5":"@body('Update_item')?['field_5']","item/field_6/Value":"Ditolak","item/field_8":"@items('For_each_2')?['responder']?['displayName']","item/field_9":"Note : @{items('For_each_2')?['comments']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"type":"Foreach"}}},"expression":{"and":[{"equals":["@body('Wait_for_an_approval')?['outcome']","Approve"]}]},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"aa4b51deb38f473eaf15d1912eab0554","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-33717fce-0815-4a9b-b308-cff456ea130e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-9d6522ec-441b-4d83-a91f-93d1aabe000c","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}