Microsoft.Flow/flows/2207a2e6-00e7-4793-afe2-18e407cd19ad/definition.json
{"name":"55b3bfc0-0abf-406f-951d-55d4424f99ff","id":"/providers/Microsoft.Flow/flows/55b3bfc0-0abf-406f-951d-55d4424f99ff","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Cuti_powerApp_Untuk_Manager_HR","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3fd15bb2-9b4e-4696-bc2b-cc54f0b4e2a5","type":"User","tenantId":"d7b95ec4-9a7f-4260-b2e3-eb53f0ac8401"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-07T11:53:44.9664266Z","connectionKeySavedTimeKey":"2024-06-07T11:53:44.9664266Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"61eb0b9d-9b03-4225-b037-6aa5d20b7c72"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"number":{"title":"ID","type":"number","x-ms-dynamically-added":true,"description":"","x-ms-content-hint":"NUMBER"},"text":{"description":"","title":"Manager Divisi","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["number","text"]}}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"513e05f9-f225-47cd-bda1-4236d17e1bbf"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://acmindonesia.sharepoint.com/sites/ABC599","table":"fb90e8ea-df7d-4022-b305-319102c2e235","id":"@triggerBody()['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Wait_for_an_approval":{"runAfter":{"For_each_1":["Succeeded"]},"metadata":{"operationMetadataId":"2ec8aef8-2a5d-4b72-9a58-784e1349fec1"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@body('Create_an_approval')?['name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition":{"actions":{"For_each":{"foreach":"@outputs('Wait_for_an_approval')?['body']?['responses']","actions":{"Update_item_copy":{"metadata":{"operationMetadataId":"33167610-397d-444f-a146-d17b40ab7f58"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://acmindonesia.sharepoint.com/sites/ABC599","table":"fb90e8ea-df7d-4022-b305-319102c2e235","id":"@outputs('Get_item')?['body/ID']","item/Title":"@body('Update_item')?['Title']","item/field_1":"@body('Update_item')?['field_1']","item/field_2":"@body('Update_item')?['field_2']","item/field_3":"@body('Update_item')?['field_3']","item/field_4":"@body('Update_item')?['field_4']","item/field_5":"@body('Update_item')?['field_5']","item/field_6":"@body('Update_item')?['field_6']","item/field_8/Value":"Diterima","item/field_10":"@items('For_each')?['responder']?['displayName']","item/field_11":"Note : @{items('For_each')?['comments']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"type":"Foreach"}},"runAfter":{"Wait_for_an_approval":["Succeeded"]},"else":{"actions":{"For_each_2":{"foreach":"@outputs('Wait_for_an_approval')?['body']?['responses']","actions":{"Update_item_2":{"metadata":{"operationMetadataId":"54ed3904-3840-4b0f-a9fb-13f806672fd6"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://acmindonesia.sharepoint.com/sites/ABC599","table":"fb90e8ea-df7d-4022-b305-319102c2e235","id":"@outputs('Get_item')?['body/ID']","item/Title":"@body('Update_item')?['Title']","item/field_1":"@body('Update_item')?['field_1']","item/field_2":"@body('Update_item')?['field_2']","item/field_3":"@body('Update_item')?['field_3']","item/field_4":"@body('Update_item')?['field_4']","item/field_5":"@body('Get_item')?['field_5']","item/field_6":"@body('Update_item')?['field_6']","item/field_8/Value":"Ditolak","item/field_10":"@items('For_each_2')?['responder']?['displayName']","item/field_11":"Note : @{items('For_each_2')?['comments']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"type":"Foreach"}}},"expression":{"and":[{"equals":["@body('Wait_for_an_approval')?['outcome']","Approve"]}]},"metadata":{"operationMetadataId":"252c806c-ae2b-4a8b-b669-9bc8352e5331"},"type":"If"},"Create_an_approval":{"runAfter":{"Update_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Manager HR | Persetujuan Pengajuan Cuti","ApprovalCreationInput/assignedTo":"muhammad.121140024@member.maribelajar.org;","ApprovalCreationInput/details":"I hope this message finds you well. I am writing to submit a leave request as detailed below. I would appreciate your review and approval at your earliest convenience.\n\nEmployee Details:\n- Name: @{body('Update_item')?['Title']}\n- Employee Number (NRK): @{body('Update_item')?['field_1']}\n- Position: @{body('Update_item')?['field_2']}\n\nLeave Details:\n- Title of Leave: @{body('Update_item')?['field_3']}\n- Details of Leave: @{body('Update_item')?['field_4']}\n- Type of Leave: @{body('Get_item')?['field_7']?['Value']}\n- Duration of Leave: From @{body('Update_item')?['field_5']} to @{body('Update_item')?['field_6']}\n\nYour attention to this request is highly appreciated, and I am happy to provide any further information needed or discuss this matter at a time that suits you best.\n\nThank you very much for your consideration.\n\nBest regards,\n\n@{triggerBody()?['text']}\nManager Divisi\n","ApprovalCreationInput/itemLink":"@body('Update_item')?['{Link}']","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Get_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://acmindonesia.sharepoint.com/sites/ABC599","table":"fb90e8ea-df7d-4022-b305-319102c2e235","id":"@body('Get_item')?['ID']","item/Title":"@body('Get_item')?['Title']","item/field_1":"@body('Get_item')?['field_1']","item/field_2":"@body('Get_item')?['field_2']","item/field_3":"@body('Get_item')?['field_3']","item/field_4":"@body('Get_item')?['field_4']","item/field_5":"@body('Get_item')?['field_5']","item/field_6":"@body('Get_item')?['field_6']","item/field_8/Value":"Pending Di Manager HR","item/field_9":"@triggerBody()?['text']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"For_each_1":{"foreach":"@outputs('Create_an_approval')?['body']?['approvers']","actions":{"Send_an_email_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@items('For_each_1')?['email']","emailMessage/Subject":"Leave Request from @{body('Update_item')?['Title']} - @{body('Update_item')?['field_3']}\n","emailMessage/Body":"<p>Dear @{items('For_each_1')?['email']},<br><br>I hope this message finds you well. I am writing to submit a leave request as detailed below. I would appreciate your review and approval at your earliest convenience.<br><br>Employee Details:<br>- Name: @{body('Update_item')?['Title']}<br>- Employee Number (NRK): @{body('Update_item')?['field_1']}<br>- Position: @{body('Update_item')?['field_2']}<br><br>Leave Details:<br>- Title of Leave: @{body('Update_item')?['field_3']}<br>- Details of Leave: @{body('Update_item')?['field_4']}<br>- Type of Leave: @{body('Get_item')?['field_7']?['Value']}<br>- Duration of Leave: From @{body('Update_item')?['field_5']} to @{body('Update_item')?['field_6']}<br><br>Your attention to this request is highly appreciated, and I am happy to provide any further information needed or discuss this matter at a time that suits you best.<br><br>Thank you very much for your consideration.<br><br>Best regards,<br><br>@{triggerBody()?['text']}<br>Manager Divisi</p><br>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Create_an_approval":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"aa4b51deb38f473eaf15d1912eab0554","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-33717fce-0815-4a9b-b308-cff456ea130e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-9d6522ec-441b-4d83-a91f-93d1aabe000c","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}